{% extends 'base.html' %}

{% block title %} {{ user.get_full_name() }} {% endblock %}

{% block content %}

<h1>{{ user.get_full_name() }}</h1>

<img src={{user.image_url}} alt="user profile picture" width="100" height="100">

<button><a href=/users/{{user.id}}/edit>Edit</a></button>
<form action="/users/{{user.id}}/delete" method="POST">
  <button>Delete</button>
</form>

<div>
  <h2>Posts</h2>
  <ul>
    {% for post in posts %}
    <li>
      <a href=/posts/{{post.id}}>{{ post.title }}</a>
      <!-- test_post -->
    </li>
    {% endfor %}
  </ul>
</div>

<button>
  <a href ='/users/{{user.id}}/posts/new'>Add Post</a>
</button>




{% endblock %}